.nav ul {
font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
    display: inline;
}
.nav ul li {
    display: inline;
    padding-left: 50px;
}
.nav .dropdown
  li:hover ul {display: block; position: absolute;}
.nav a {
  text-transform: uppercase;
    color: #393c3d;
}

.jumbotron {
  background-image:url("/img/MtMassiveSummit_Kelsey.JPG");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #000000;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.research-interests {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.research-interests h2 {
    color: #393c3d;
    font-size: 24px;
}

.research-interests p {
    font-size: 15px;
    margin-bottom: 13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h2 {
    color: #393c3d;
    font-size: 24px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
